<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="SQLString" connectionString="Data Source=120.26.67.183; Initial Catalog=MebDataCompletion; Max Pool Size=512; Min Pool Size=5;User ID=toolsmanager;Password=gjb*123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>